@import "node_modules/ol/ol.css";

body {
  margin: 0;
  padding: 0;
  background-color: #444444;
}

.bgsub {
  background-color: #ffffff;
}

.grid-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 0.75em;
}

.sidebar{
  position: absolute;
  border-radius: 10px;
  right: 10px;
  top: 10px;
  width: 20%;
  height: auto;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
}

.sidebar{
  z-index: 10;
}

.map {
  width: 100vw;
  height: 100vh;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#toptitle {
  color: #ffffff;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: row;
  }

.child {  
  display: flex;
  flex-grow: 1;
  min-height: 200px; 
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#nztm {
  border-style: solid;
  border-color: #6f8a91;
}

#webmer {
  border-style: solid;
  border-color: #6f8a91;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  } 
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  font-weight: 900;
}